<div class="modal-header">
  <h4 class="modal-title">
    {{
      isEditMode
        ? ('user.editUser' | transloco)
        : ('user.createUser' | transloco)
    }}
  </h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'common.close' | transloco"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label"
          >{{ 'user.email' | transloco }} *</label
        >
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          [class.is-invalid]="
            form.get('email')?.invalid && form.get('email')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        >
          <div *ngIf="form.get('email')?.errors?.['required']">
            {{ 'user.emailRequired' | transloco }}
          </div>
          <div *ngIf="form.get('email')?.errors?.['email']">
            {{ 'user.emailInvalid' | transloco }}
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="permission" class="form-label"
          >{{ 'user.permission' | transloco }} *</label
        >
        <select
          class="form-select"
          id="permission"
          formControlName="permission"
          [class.is-invalid]="
            form.get('permission')?.invalid && form.get('permission')?.touched
          "
        >
          <option value="">{{ 'search.selectType' | transloco }}</option>
          <option
            *ngFor="let option of getPermissionOptions()"
            [value]="option.value"
          >
            {{ option.label | transloco }}
          </option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            form.get('permission')?.invalid && form.get('permission')?.touched
          "
        >
          {{ 'user.permissionRequired' | transloco }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="name" class="form-label"
          >{{ 'user.name' | transloco }} *</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          [class.is-invalid]="
            form.get('name')?.invalid && form.get('name')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
        >
          {{ 'user.nameRequired' | transloco }}
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="lastName" class="form-label"
          >{{ 'user.lastName' | transloco }} *</label
        >
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
          [class.is-invalid]="
            form.get('lastName')?.invalid && form.get('lastName')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
        >
          {{ 'user.lastNameRequired' | transloco }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="password" class="form-label">
          {{ 'user.password' | transloco }}
          {{ isEditMode ? ('common.optional' | transloco) : '*' }}
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [class.is-invalid]="
            form.get('password')?.invalid && form.get('password')?.touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        >
          <div *ngIf="form.get('password')?.errors?.['required']">
            {{ 'user.passwordRequired' | transloco }}
          </div>
          <div *ngIf="form.get('password')?.errors?.['minlength']">
            {{ 'user.passwordMinLength' | transloco }}
          </div>
        </div>
        <div class="form-text" *ngIf="isEditMode">
          {{ 'user.passwordOptional' | transloco }}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{ 'common.cancel' | transloco }}
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="form.invalid || loading"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm me-2"
        ></span>
        {{
          isEditMode
            ? ('common.update' | transloco)
            : ('common.create' | transloco)
        }}
      </button>
    </div>
  </form>
</div>
