<section class="m-2 w-100 d-flex flex-column align-items-center">
  <app-search (searchValue)="setSearch($event)"></app-search>
</section>
<section class="results row h-90">
  @if (magazineService.loading()){
  <div
    class="col-12 d-flex flex-colum align-items-center justify-content-center loading"
  >
    <div class="spinner-border text-warning-emphasis" role="status">
      <span class="sr-only">Buscando...</span>
    </div>
  </div>
  } @else if(magazineService.results().length === 0 && search.length > 3){
  <div
    class="col-12 d-flex flex-colum align-items-center justify-content-center"
  >
    <h2>No se encontraron resultados</h2>
  </div>
  } @else {
  <div class="col-12 row d-flex flex-wrap">
    @for (result of magazineService.results(); track result.id) {
    <app-card
      class="mb-2 col-12 col-sm-6 col-md-4 col-xxl-3"
      [title]="
        'Revista nº ' + result.Magazine.number + ' página ' + result.number
      "
      [content]="result.content | highlightQuery : search"
      [pdfPath]="result.Magazine.path"
      [page]="result.number"
      [frontPage]="result.Magazine.image"
    ></app-card>
    }
  </div>
  }
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Subir revista</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-upload [afterSave]="modal.close"></app-upload>
  </div>
</ng-template>
