<div class="row p-3">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/back-office"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
          >Revistas</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/back-office/users"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: true }"
          >Volver al buscador</a
        >
      </li>
    </ul>
  </div>
  <main class="col-12 bg-white content">
    <router-outlet></router-outlet>
  </main>
</div>
