:host {
  width: 100%;

  .button-clean {
    cursor: pointer;
    color: olivedrab;
    font-weight: bold;
    &:hover {
      color: darkolivegreen;
    }
  }

  .search-filters {
    .accordion {
      --bs-accordion-bg: transparent;

      .accordion-button:not(.collapsed) {
        color: black;
        background-color: rgb(128 128 0 / 20%);
      }

      .filter-alert {
        color: orange;
        margin-left: 5px;
      }
    }
  }
}
