<div class="row p-4">
  <div class="col-12 d-flex flex-row">
    <h2>Gestor de revistas</h2>
    <i
      class="lni lni-cloud-upload fs-1 ms-4"
      (click)="open(content)"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      ngbTooltip="Subir revista"
      placement="right"
    ></i>
  </div>

  <div class="col-12 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Revista número</th>
          <th scope="col">Portada</th>
          <th scope="col">Publicada</th>
          <th scope="col">Subida</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(magazine of magazines$ | async; track magazine.id) {
        <tr>
          <td class="align-middle">{{ magazine.number }}</td>
          <td class="align-middle">
            <img
              *ngIf="magazine.image"
              [src]="mazineImage(magazine.image)"
              alt="Portada de la revista"
              class="img-thumbnail"
              style="max-width: 100px"
            />
          </td>
          <td class="align-middle">
            {{ magazine.publhishedAt | date : 'dd/MM/yyyy' }}
          </td>
          <td class="align-middle">
            {{ magazine.createdAt | date : 'dd/MM/yyyy' }}
          </td>
          <td class="text-center align-middle">
            <i
              class="lni lni-eye me-3 fs-3"
              ngbTooltip="Ver PDF"
              placement="top"
            ></i>
            <i
              class="lni lni-pencil me-3 fs-3"
              ngbTooltip="Editar"
              placement="top"
            ></i>
            <i
              class="lni lni-trash-can fs-3"
              ngbTooltip="Eliminar"
              placement="top"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Subir revista</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-upload [afterSave]="modal.close"></app-upload>
  </div>
</ng-template>
