<div class="row p-4">
  <div class="col-12 d-flex flex-row">
    <h2>{{ 'magazine.title' | transloco }}</h2>
    <i
      class="lni lni-cloud-upload fs-1 ms-4"
      (click)="open(uploadModal)"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      [ngbTooltip]="'magazine.uploadPdf' | transloco"
      placement="right"
    ></i>
  </div>

  <div class="col-12 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ 'magazine.number' | transloco }}</th>
          <th scope="col">{{ 'magazine.image' | transloco }}</th>
          <th scope="col">{{ 'magazine.publishedAt' | transloco }}</th>
          <th scope="col">{{ 'user.createdAt' | transloco }}</th>
          <th scope="col" class="text-center">{{ 'user.actions' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for(magazine of magazines$ | async; track magazine.id) {
        <tr>
          <td class="align-middle">{{ magazine.number }}</td>
          <td class="align-middle">
            <img
              *ngIf="magazine.image"
              [src]="mazineImage(magazine.image)"
              [alt]="'magazine.image' | transloco"
              class="img-thumbnail"
              style="max-width: 100px"
            />
          </td>
          <td class="align-middle">
            {{ magazine.publhishedAt | date : 'dd/MM/yyyy' }}
          </td>
          <td class="align-middle">
            {{ magazine.createdAt | date : 'dd/MM/yyyy' }}
          </td>
          <td class="text-center align-middle">
            <i
              class="lni lni-eye me-3 fs-3"
              [ngbTooltip]="'magazine.viewPdf' | transloco"
              placement="top"
              (click)="openPdf(magazine.path)"
            ></i>
            <!--    <i
              class="lni lni-pencil me-3 fs-3"
              ngbTooltip="Editar"
              placement="top"
            ></i> -->
            <i
              class="lni lni-trash-can fs-3"
              [ngbTooltip]="'common.delete' | transloco"
              placement="top"
              (click)="confirmDelete(magazine)"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="col-10">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      [rotate]="true"
      [boundaryLinks]="true"
    />
  </div>
  <div class="col-2">
    <select
      class="form-select"
      [attr.aria-label]="'pagination.itemsPerPage' | transloco"
      [(ngModel)]="pageSize"
    >
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>
  </div>
</div>
<ng-template #uploadModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'magazine.uploadPdfTitle' | transloco }}</h4>
    <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | transloco"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-upload
      (afterSave)="onUploadSuccess()"
      (afterError)="onUploadError($event)"
    ></app-upload>
  </div>
</ng-template>
