<div class="row p-4">
  <div class="col-12 d-flex flex-row">
    <h2>{{ 'user.users' | transloco }}</h2>
    <i
      class="lni lni-user fs-1 ms-4"
      (click)="openCreateUser()"
      [ngbTooltip]="'user.createUser' | transloco"
      placement="right"
      style="cursor: pointer"
    ></i>
  </div>

  <div class="col-12 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">{{ 'user.email' | transloco }}</th>
          <th scope="col">{{ 'user.name' | transloco }}</th>
          <th scope="col">{{ 'user.lastName' | transloco }}</th>
          <th scope="col">{{ 'user.permission' | transloco }}</th>
          <th scope="col">{{ 'user.createdAt' | transloco }}</th>
          <th scope="col" class="text-center">{{ 'user.actions' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users$ | async; track user.id) {
        <tr>
          <td class="align-middle">{{ user.id }}</td>
          <td class="align-middle">{{ user.email }}</td>
          <td class="align-middle">{{ user.name }}</td>
          <td class="align-middle">{{ user.lastName }}</td>
          <td class="align-middle">
            <span
              class="badge"
              [ngClass]="{
                'bg-danger': user.permission === 'ADMIN',
                'bg-warning': user.permission === 'EDIT_MAGAZINE',
                'bg-info': user.permission === 'SEARCH_MAGAZINE'
              }"
            >
              {{ getPermissionLabel(user.permission) }}
            </span>
          </td>
          <td class="align-middle">
            {{ user.createdAt | date : 'dd/MM/yyyy' }}
          </td>
          <td class="text-center align-middle">
            <i
              class="lni lni-pencil me-3 fs-3"
              [ngbTooltip]="'common.edit' | transloco"
              placement="top"
              (click)="openEditUser(user)"
              style="cursor: pointer"
            ></i>
            <i
              class="lni lni-trash-can fs-3"
              [ngbTooltip]="'common.delete' | transloco"
              placement="top"
              (click)="confirmDelete(user)"
              style="cursor: pointer"
            ></i>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="col-10">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize"
      [rotate]="true"
      [boundaryLinks]="true"
    />
  </div>
  <div class="col-2">
    <select
      class="form-select"
      [attr.aria-label]="'pagination.itemsPerPage' | transloco"
      [(ngModel)]="pageSize"
    >
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="20">20</option>
      <option [value]="50">50</option>
    </select>
  </div>
</div>

<!-- Modal para crear/editar usuario -->
<ng-template #userModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'user.title' | transloco }}</h4>
    <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | transloco"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <app-user-form
      (afterSave)="onUserSave()"
      (afterError)="onUserError($event)"
    ></app-user-form>
  </div>
</ng-template>
