:host {
  border: white;

  .card-body {
    justify-content: space-between;
    padding-bottom: 0px;

    .card-title {
      overflow: hidden;
      text-align: center;
      border-bottom: 1px solid grey;
      padding-bottom: 8px;
      align-content: start;
    }
    .card-text {
      max-height: 260px;
      min-height: 260px;
      margin-bottom: 20px;
      overflow: hidden auto;
    }
    .card-footer {
      max-height: 50px;
      min-height: 50px;
      text-align: right;
      background-color: white;
      align-content: end;
      i {
        font-size: 2rem;
        color: darkolivegreen;
      }
    }
  }
}
