:host {
  border: white;

  .card-body {
    justify-content: space-between;
    padding: 0 5px;

    .card-title {
      overflow: hidden;
      text-align: center;
      border-bottom: 1px solid grey;
      padding: 5px 0 8px 0;
      align-content: start;
      margin: 0px;
    }
    .card-text {
      max-height: 260px;
      min-height: 260px;
      padding: 10px 5px;
      overflow: hidden auto;
    }
    .card-footer {
      max-height: 50px;
      min-height: 50px;
      text-align: right;
      background-color: white;
      align-content: end;
      i {
        font-size: 2rem;
        color: darkolivegreen;
      }
    }
  }
}
